.contenedorContacto {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30vh 60vh 10vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    .tituloContacto {
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        margin-top: 2vh;
    }

    .mainContacto {
        grid-area: main;
        display: flex;
        justify-content: center;
        
    }

    .footerContacto {
        grid-area: footer;
        display: flex;
        justify-content: left;
        margin-left: 3vw;
        align-items: center;
        @include estilosBack;
    }
}

/* Media Query Contacto Tablet */

@media (max-width: 767px) {
    body{
        background-color: $color-tablet;
    }
}

/* Media Query Smartphone */

@media (max-width: 480px) {
    body{
        background-color: $color-smartphone;
    }
}