.headerFotografia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.footerFotografia{
    text-align: start;
    margin-left: 3vw;

        .footerMobile{
            display: none;
            font-size: $mobile-size;
        }
}

@media (max-width: 767px) {
    body{
        background-color: $color-tablet;
    }
}

@media (max-width: 480px) {

body{

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .headerFotografia{
        margin-bottom: 18vh;
    }

    .footerFotografia{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        margin-left: 5vw;
        margin-right: 5vw;
    
        .footerMobile{
                display: block;
            }
    }
}



}