.contenedorFotografia {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";

        .headerFotografia {
            grid-area: header;

            .tituloFotografia {
                text-align: center;
                margin-top: 2vh;
            }
            
        }

        .mainFotografia {
            grid-area: main;
            display: flex;
            align-items: center;
            justify-content: center;

            .fotosFotografia {
                display: flex;
                justify-content: center;
                gap: 5vw;
                .card{

                    .card-img-top {
                        width: 35vw;
                    }
                
                       
                }
                .cardDos{
                    
                    .card-img-top {
                        width: 35vw;
                    }
                
                       
                }
            }
            
        }

        .footerFotografia {
            grid-area: footer;
            display: flex;
            align-items: center;

            .backFotografia {
                text-align: left;
                margin-left: 3vw;
                text-decoration: none;
                font-weight: bolder;
            }
            
        }
         
}


/* Media Query Tablet */

@media (max-width: 767px) {
    body{
        background-color: $color-tablet;
    }
}

/* Media Query Smartphone */

@media (max-width: 480px) {

    .contenedorFotografia {
        height: 100vh;
        background-color: $color-smartphone;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    
            .headerFotografia {
                grid-area: header;
    
                .tituloFotografia {
                    text-align: center;
                    margin-top: 2vh;
                }
                
            }
    
            .mainFotografia {
                grid-area: main;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .fotosFotografia {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 5vw;
                    .card{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        gap: 3vh;
                        .card-img-top {
                            width: 35vw;
                        }
                    }
                    .cardDos{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 3vh;
                        .card-img-top {
                            width: 35vw;
                        }
                    }    
                           
                    }
                }
                
            }
    
            .footerFotografia {
                grid-area: footer;
                display: flex;
                align-items: center;
    
                .backFotografia {
                    text-align: left;
                    margin-left: 3vw;
                    text-decoration: none;
                    @include estilosBack;

                }
                
            }
             
    }
    