.footerBack{
    font-weight: bolder;
    color: black;
    font-size: 12px;
    text-decoration: none;
    transition: 300ms;
    &:hover{
        font-size: 102%;
        transition: 300ms;
    }
    &:active{
        color: inherit;
    }
    &:link{
        color: inherit;
    }
    &:visited{
        color: inherit;
    }
    

    }
